$button-grey: #ddd;
$button-green: #80cbc4;
$header-bar-blue: #00bbd3;
$title-white: #fff;
$regular-text: rgba(255, 255, 255, 0.6);
$placeholder-text: rgba(255, 255, 255, 0.4);
$green-text: #92cdc5;
$button-text-grey: #1c1c1c;
$brand-font-family: Roboto, sans-serif;
$brand-background: #282828;
$brand-font-size: 16px;
