@import 'variables';
@import 'new-run';

body {
  margin: 0;
  font-family: $brand-font-family;
  font-size: 16px;
  line-height: 24px;
}

ul {
  padding-left: 0;
  list-style: none;
}

.top-nav {
  background: $header-bar-blue;
  color: $title-white;
  overflow: auto;
}

.title {
  font-weight: lighter;
}

.container {
  max-width: 60rem;
  margin: auto;
}
