{{outlet}}
<div class="new-run">
  <div class="container">
    <form class="new-run__form">
      <h2 class="new-run__title">New Run</h2>
      <input type="text" class="new-run__input run-time" placeholder="Run Time">
      <input type="text" class="new-run__input run-date" placeholder="Race Date">
      <input type="text" class="new-run__input run-notes" placeholder="Race Notes">
      <button class="cancel-button">Cancel</button>
      <button class="save-button">Save</button>
    </form>
  </div>
</div>
