<div class="top-nav">
  <div class="container">
    <h2 class="title">Run Timer</h2>
  </div>
</div>
<div class="app-content">
  <div class="container">
    {{outlet}}

  </div>
</div>

<div class="footer">
  <div class="container">
  </div>
</div>
